.app-profile{
    flex: 1;
    padding: 1vw;
    display: flex;
    flex-flow: column;
    align-items: center;
}

p{
    font-family: var(--textFont);
    font-size: 150%;
}

.button-container{
    flex: 1;
    text-align: left;
    width: 35vw;
    margin: 1vw;
}

.text{
    background: var(--content);
    color: var(--primaryText);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 14px 17px -6px var(--content);
    margin-bottom: 5vw;
}

button {
    margin-top: 1vw;
    font-family: var(--textFont);
    font-size: 101%;
    background: var(--primaryColor);
    width: 10vw;
    height: 3vw;
    border-radius: 20px;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:hover {
    background: var(--dimPrimaryColor);
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}